body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
}

main {
  flex-grow: 1;
  max-width: 1024px;
  margin: 50px auto 0 auto;
}

.top-content * {
  padding: 0;
  margin: 0;
}

.top-content p:nth-child(3) {
  text-decoration-line: underline
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.top-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.main-content {
  display: flex;
}

.sidebar .container:nth-child(2) img {
  width: 200px;
}

/* Modal */

.modal-container a {
  text-decoration: none;
  float: right;
  margin-right: 34px;
  margin-top: 26px;
}
